<div class="container-fluid" id="main-page-1">
    <div class="row">
        <div class="col-12 card" id="home-page-search-input-card">
            <search-input></search-input>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row text-and-pic">
        <div class="col-md-6">
            <div class="inner-text"><h1><b>You health is most important</b></h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non nulla augue. Integer dapibus varius
                    faucibus. Morbi egestas dolor vel risus sagittis pretium. Ut fringilla laoreet euismod. Vivamus
                    porttitor euismod tortor id sollicitudin. Aenean purus enim, imperdiet ac condimentum et, hendrerit
                    nec magna. Suspendisse a elit nec velit malesuada blandit vel nec risus. Maecenas libero sem,
                    ultricies at lobortis eu, accumsan non est.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non nulla augue. Integer dapibus varius
                    faucibus. Morbi egestas dolor vel risus sagittis pretium. Ut fringilla laoreet euismod. Vivamus
                    porttitor euismod tortor id sollicitudin. Aenean purus enim, imperdiet ac condimentum et, hendrerit
                    nec magna. Suspendisse a elit nec velit malesuada blandit vel nec risus. Maecenas libero sem,
                    ultricies at lobortis eu, accumsan non est.</p>
            </div>
        </div>
        <div class="col-md-6" id="img-healthcare"></div>
    </div>
</div>