body {
  font-family: "Catamaran";
  color: #111111;
}
a {
  color: #E73D1C;
}
.card {
  background-color: #E4EBEF;
  border-bottom: 3px solid #E73D1C;
  border-radius: 25px;
  padding: 20px;
}

#main-page-1 {
  background-image: url("../img/woman1.jpg");
  background-color: #E4EBEF;
}
#home-page-search-input-card {
  margin: 100px 0px;
}


div.hint {
  padding: 10px;
  width: 100%;
  border-bottom: 1px solid #ccc;
}
div.hint:hover {
  background-color: #999999;
}
div.search-hints {
  -webkit-box-shadow: 1px 1px 3px 3px #ccc;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 1px 1px 3px 3px #ccc;
  /* Firefox 3.5 - 3.6 */
  box-shadow: 1px 1px 3px 3px #ccc;
  border: solid 1px #ccc;
  position: absolute;
  display: block;
  width: 100%;
  z-index: 1000;
  background-color: #E4EBEF;
}

.search-input {
  width: 100%;
}
.search-input p {
  color: red;
  margin-left: 50px;
}
.search-input input.product-search {
  width: 100%;
}
