body {
  font-family: "Catamaran";
  color: #111111;
  background-color: #f8f9fa;
}
a {
  color: #E73D1C;
}
a:hover {
  color: #9A1701;
}
p {
  text-align: justify;
}
.card {
  background-color: #fff;
  border-bottom: 3px solid #E73D1C;
  border-radius: 7px;
  padding: 30px;
  box-shadow: 0 5px 10px #C6C6C6;
}
.card h2 {
  text-align: center;
}
input:focus {
  outline: none !important;
  border: 1px solid #E73D1C;
}
.no-padding {
  margin: 0px;
  padding: 0px;
}
.meta-links {
  margin-top: 30px;
  float: right;
}

#main-page-1 {
  background: url("../img/woman1.jpg") no-repeat center;
  background-size: cover;
  padding: 0 20%;
}
.text-and-pic {
  padding: 70px 0px;
}
#home-page-search-input-card {
  margin: 200px 0px;
}
#img-healthcare {
  background: url("../img/healthcare.jpg") no-repeat center top;
  background-size: cover;
}
.inner-text {
  padding: 50px 20px;
}

.edit-desc input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #cccccc;
}
.edit-desc input[type=checkbox] {
  width: auto;
}
.edit-desc textarea {
  width: 100%;
  height: 5rem;
  border: none;
  border-bottom: 1px solid #cccccc;
}
.edit-desc .edit-desc-label {
  font-weight: bold;
  text-align: right;
}
.edit-desc .desc-row {
  margin-top: 10px;
}
.trash-icon i {
  maring-top: 0px;
}
.plus-button,
.trash-icon {
  width: auto;
  cursor: pointer;
  display: block;
}
.plus-button i,
.trash-icon i {
  margin: 10px;
  color: #E73D1C;
}
.plus-button:hover i,
.trash-icon:hover i {
  color: #9A1701;
}
.plus-button input,
.trash-icon input {
  width: calc(100% - 50px);
}
.ingredients-card {
  margin-top: 30px;
}

.main-desc p {
  border-bottom: solid 1px #ccc;
}
.main-desc .desc-label {
  font-weight: bold;
}
.ingredient-head {
  text-transform: capitalize;
  width: 100%;
  border-bottom: solid 1px #ccc;
  cursor: pointer;
  padding: 10px;
  -moz-transition: ease-in-out 0.2s;
  -ms-transition: ease-in-out 0.2s;
  -o-transition: ease-in-out 0.2s;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}
.ingredient-head i {
  float: right;
}
.ingredient-head:hover {
  background-color: #E73D1C;
  color: #fff;
}
.left-margin {
  padding: 0px 0px 0px 30px;
}
.ingredient-desc {
  margin: 10px 0px;
}
.ingredient-desc p {
  border-bottom: solid 1px #ccc;
}
.ingredient-desc .desc-label {
  font-weight: bold;
}
.ingredient-image {
  text-align: right;
  min-height: 100%;
  background-size: contain;
  background: #f5f5f5 no-repeat center;
}
.ingredient {
  -moz-transition: ease-in-out 0.5s;
  -ms-transition: ease-in-out 0.5s;
  -o-transition: ease-in-out 0.5s;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
  overflow: auto;
  max-height: 10999px;
  border: 1px solid #E73D1C;
}
.is-opened {
  background-color: #E73D1C;
  color: #fff;
}
.ng-hide:not(.ng-hide-animate) {
  border: none;
  max-height: 0px;
  display: block!important;
  overflow: hidden;
}

.not-found {
  height: 100%;
  padding: 25% 0%;
}
.not-found h1 {
  text-align: center;
}

div.hint {
  padding: 10px;
  width: 100%;
  border-bottom: 1px solid #ccc;
}
div.hint:hover {
  background-color: #C6C6C6;
}
div.search-hints {
  box-shadow: 0 5px 10px #C6C6C6;
  border: solid 1px #ccc;
  position: absolute;
  display: block;
  width: 100%;
  z-index: 1000;
  background-color: #fff;
}

.search-input {
  width: 100%;
}
.search-input p {
  color: red;
  margin-left: 50px;
}
.search-input input.product-search {
  width: 100%;
}
.search-input input[type=button],
.search-input input[type=submit],
.search-input input[type=reset] {
  background-color: #E73D1C;
  border: none;
  color: #fff;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
