<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Add new product</h1>
        </div>
    </div>
    <div class="card edit-desc">
        <div class="row desc-row">
            <div class="col-3 edit-desc-label">Ean code</div>
            <div class="col-9"><input ng-model="$ctrl.product.ean"></div>
        </div>
        <div class="row desc-row">
            <div class="col-3 edit-desc-label">Product name</div>
            <div class="col-9"><input ng-model="$ctrl.product.productName"></div>
        </div>
        <div class="row desc-row">
            <div class="col-3 edit-desc-label">Brand</div>
            <div class="col-9"><input ng-model="$ctrl.product.brand"></div>
        </div>
        <div class="row desc-row">
            <div class="col-3 edit-desc-label">Brand owner</div>
            <div class="col-9"><input ng-model="$ctrl.product.brandOwner"></div>
        </div>
        <div class="row desc-row">
            <div class="col-3 edit-desc-label">Manufacturer</div>
            <div class="col-9"><input ng-model="$ctrl.product.manufacturer"></div>
        </div>
        <div class="row desc-row">
            <div class="col-3 edit-desc-label">Country of origin</div>
            <div class="col-9"><input ng-model="$ctrl.product.countryOfOrigin"></div>
        </div>
        <div class="row desc-row">
            <div class="col-3 edit-desc-label">Url</div>
            <div class="col-9"><input ng-model="$ctrl.product.url"></div>
        </div>
        <div class="row desc-row">
            <div class="col-3 edit-desc-label">Is legal</div>
            <div class="col-9"><input ng-model="$ctrl.product.isLegal"></div>
        </div>
        <div class="row desc-row">
            <div class="col-3 edit-desc-label">Description</div>
            <div class="col-9"><textarea ng-model="$ctrl.product.description"></textarea></div>
        </div>
    </div>
</div>