.edit-desc {

  input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #cccccc;
  }

  input[type=checkbox] {
    width: auto;
  }

  textarea {
    width: 100%;
    height: 5rem;
    border: none;
    border-bottom: 1px solid #cccccc;
  }

  .edit-desc-label{
    font-weight: bold;
    text-align: right;
  }

  .desc-row {
    margin-top: 10px;
  }
}

.trash-icon {
  i{
    maring-top: 0px;
  }
}

.plus-button, .trash-icon {
  width: auto;
  cursor: pointer;
  display: block;
  i{
    margin: 10px;
    color: #E73D1C;
  }
  &:hover {
    i {color: #9A1701;}
  }
  input {
    width: calc(100% - 50px);
  }
}

.ingredients-card {
  margin-top: 30px;
}